/* type styles */

@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700';
@import 'https://fonts.googleapis.com/css?family=Ubuntu';
@import 'https://fonts.googleapis.com/css?family=Jaldi:400,700';

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qc93zt');
  src:  url('fonts/icomoon.eot?qc93zt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qc93zt') format('truetype'),
    url('fonts/icomoon.woff?qc93zt') format('woff'),
    url('fonts/icomoon.svg?qc93zt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-save:before {
  content: "\e903";
}
.icon-edit:before {
  content: "\e904";
}
.icon-add:before {
  content: "\e900";
}
.icon-revert:before {
  content: "\e902";
}
.icon-delete:before {
  content: "\e901";
}
.icon-import:before {
  content: "\e905";
}
.icon-warning:before {
  content: "\e906";
}